##Outputs only. Interactive notebooks at the following link:

https://colab.research.google.com/drive/1KVkefyu8lRUkXltl1MGVFWqhZmHTvn38?usp=sharing

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Vinnicius-Stein/Data-Science-and-AI/master/House%20Prices%20Predictions/house_prices.csv'

home_data = pd.read_csv(url)

#Showing head to confirm if csv was succesfully read.
home_data.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [2]:
#printing the list of columns in the dataset to find the name of the prediction target
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [3]:
#'salePrice' is the column that we want to predict, so let's put this as y
y = home_data.SalePrice

In [4]:
#Creating the list of features that for X. Here, we are assuming that these are the best columns for the prediction and the most acurate fields for the house prices predictions.
feature_names = ['LotArea','YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

#Selecting data corresponding to features in feature_names and showing it
X = home_data[feature_names]

X.head()

   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  TotRmsAbvGrd
0     8450       2003       856       854         2             3             8
1     9600       1976      1262         0         2             3             6
2    11250       2001       920       866         2             3             6
3     9550       1915       961       756         1             3             7
4    14260       2000      1145      1053         2             4             9

In [5]:
#Taking a quick look at x
X.describe()

             LotArea    YearBuilt  ...  BedroomAbvGr  TotRmsAbvGrd
count    1460.000000  1460.000000  ...   1460.000000   1460.000000
mean    10516.828082  1971.267808  ...      2.866438      6.517808
std      9981.264932    30.202904  ...      0.815778      1.625393
min      1300.000000  1872.000000  ...      0.000000      2.000000
25%      7553.500000  1954.000000  ...      2.000000      5.000000
50%      9478.500000  1973.000000  ...      3.000000      6.000000
75%     11601.500000  2000.000000  ...      3.000000      7.000000
max    215245.000000  2010.000000  ...      8.000000     14.000000

[8 rows x 7 columns]

In [6]:
from sklearn.tree import DecisionTreeRegressor

#specifying a classical model for a classical problem =) 
#For model reproducibility, set a numeric value for random_state when specifying the model
model = DecisionTreeRegressor(random_state=1)

model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [7]:
print("First in-sample predictions:", model.predict(X.head()).tolist())
print("Actual target values for those homes:", y.head().tolist())

First in-sample predictions: [208500.0, 181500.0, 223500.0, 140000.0, 250000.0]
Actual target values for those homes: [208500, 181500, 223500, 140000, 250000]

In [8]:
#test split for train 75% / 0.75(by default) for X and y,
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X,y, random_state=1)

In [9]:
model = DecisionTreeRegressor(random_state=1)

model.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [10]:
#The predictions for future Y('housePrices') passing test_X as argument 
test_predictions = model.predict(test_X)

#Mathematical concepts

Getting into mathematical concepts just to understand what I am doing bellow

![image.png]()

here's the formula for the MAE (short for Mean Absolute Error). In short, error = actual - predicted. When we put it into n rows, we have first to sum the errors and then divide it by the number of rows we have.

In [12]:
#Comparing the real values (which is contained in test_y) with the predicted ones and evaluating the accuracy of the model with MAE
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(test_y, test_predictions)

val_mae

29652.931506849316